<div class="grid grid-cols-12">
  <div class="bg-gray-100 px-8 py-4 col-span-9 lg:col-span-3 max-h-screen overflow-auto order-last lg:order-1">
    <input class="p-2 w-full text-xl rounded border-gray-500 border-solid border-2 flex-auto" id="searchTerm" type="text" placeholder="Search..." [formControl]="searchTerm">
    @for (item of filteredChartDataArray(); track item.name) {
      <!-- selected items -->
      @if (selectedDataArray.length > 0 && findItem(item)) {
        <div (click)="removeFromSelected(item)" class="bg-green-600 pl-4 py-4 my-2 text-white cursor-pointer">
          <p>
            {{item.name}}
          </p>
        </div>

      } @else {
        <!-- unselected items -->
        <div (click)="addToSelected(item)" class="bg-cyan-900 pl-4 py-4 my-2 text-white cursor-pointer">
          <p>
            {{item.name}}
          </p>
        </div>
      }
    }
  </div>
  <div class="lg:col-span-9 col-span-12 order-1 lg:order-last flex flex-col max-h-screen overflow-auto">
    @if (chartOptions) {
      <canvasjs-chart (chartInstance)=getChartInstance($event) [options]="chartOptions" [styles]="{display: 'block', width: '100%', height: '650px'}"></canvasjs-chart>
    }
    <div class="flex flex-row py-8">
      <div class="flex flex-col w-1/4 mr-2">
        <a href="https://amzn.to/4e96TJO" target="_blank" class="flex flex-col">
          <img src="https://m.media-amazon.com/images/I/71-VeNJdQ4L._AC_SL1500_.jpg" alt="Jesus Running After Lost Lamb Picture" class="w-full h-[350px] object-contain">
          <button class="bg-yellow-500 text-black mt-2">Buy on Amazon!</button>
        </a>
      </div>
      <div class="flex flex-col w-1/4 mx-2">
        <a href="https://amzn.to/4e96Z48" target="_blank" class="flex flex-col">
          <img src="https://m.media-amazon.com/images/I/71Jn+jHLklL._AC_SL1436_.jpg" alt="Called to Serve Elder Missionary" class="w-full h-[350px] object-contain">
          <button class="bg-yellow-500 text-black mt-2">Buy on Amazon!</button>
        </a>
      </div>
      <div class="flex flex-col w-1/4 mx-2">
        <a href="https://amzn.to/4bLmgq1" target="_blank" class="flex flex-col">
          <img src="https://m.media-amazon.com/images/I/71dWbmMd81L._AC_SL1500_.jpg" alt="The Lord Is My Shepherd Wall Art" class="w-full h-[350px] object-contain">
          <button class="bg-yellow-500 text-black mt-2">Buy on Amazon!</button>
        </a>
      </div>
      <div class="flex flex-col w-1/4 ml-2">
        <a href="https://amzn.to/4aPHLEV" target="_blank" class="flex flex-col">
          <img src="https://m.media-amazon.com/images/I/61F+BUf0XLL._AC_SL1500_.jpg" alt="Jesus and Lamb Canvas Wall Art Painting Picture" class="w-full h-[350px] object-contain">
          <button class="bg-yellow-500 text-black mt-2">Buy on Amazon!</button>
        </a>
      </div>
    </div>
  </div>
</div>
